# 💥 Primeros pasos con ``Python`` y ``SQL`` 💥

|| <a style="background-color: #1bf8ff; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">20 de Mayo del 2025</a> ||
<a style="background-color: #1bf8ff; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Clase 3</a> ||
<a style="background-color: #1bf8ff; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Cursos PyM</a> ||
<a style="background-color: #1bf8ff; color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Luis Fernando Apáez Álvarez</a> ||

## 🪗Acordeón de clase🪗

---

Recordemos que en la clase pasada, y en conjunto con el avance del proyecto que se dejo, logramos simular la información de las ventas de la papelería y obtuvimos un dataframe como resultado, donde además logramos exportarlo a Excel.

* Un tema relevante por resaltar es el manejo de fechas que, como comentamos, no es un tema sencillo de abordar pero sí bastante útil para la automatización de procesos.

Continuando . . .

**Objetivo de clase:** Automatizar el código para la generación de las ventas de las papelerías por medio de ``funciones definidas por el usuario``, además, lograr crear una tabla y una base de datos en ``SQL``. También, subiremos la información del dataframe resultante a la tabla creada en ``SQL``

Para lograr imprimir el ticket anterior aprenderemos:

<a style="background-color:rgb(213, 255, 27); color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Funciones y f-string</a> &nbsp; &nbsp; <a style="background-color:rgb(213, 255, 27); color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Más de Pandas</a> &nbsp; &nbsp; <a style="background-color:rgb(213, 255, 27); color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">Intro. SQL</a>
&nbsp; &nbsp; <a style="background-color:rgb(213, 255, 27); color: #000000; border: none; padding: 10px 15px; border-radius: 5px;">CREATE e INSERT</a>

---

Recuerda que es buena práctica realizar la importación de todas las librerías en la primer celda (o caja) de código

In [4]:
import pandas as pd
import random as r
import datetime as dt

# libreria para trabajar con SQL 
import sqlite3 as sql

### Funciones definidas por el usuario

Al punto en que tomamos esta clase hemos abordado una gran cantidad de funciones en ``Python``, funciones que previamente ya estaban definidas, ya sea de Python base o de alguna librería en particular. Ahora bien, veremos el tema de _funciones definidas por el usuario_, tema que nos permitirà definir nuestras propias funciones. En el contexto del curso, las funcfunciones las utilizaremos como auxiliares para la automatización de procesos.

Para introducirnos al tema de funciones lo haremos haciendo alusión a las funciones matemáticas y nuestra primer función en ``Python`` será: $f(x)=x^{2}$. Para definir una función seguiremos la siguiente estructura

```
def nombre_funcion(paramtro_funcion):
    accion_funcion
    return valor_a_retornar
```

De tal suerte

In [5]:
# Definamos nuestra primer funcion
def f(x):
    # accion que realiza la funcion
    elevar_cuadrado = x ** 2
    # retorna el resultado
    return elevar_cuadrado

# Pongamos a prueba la funcion
print(f(2))
print(f(3))

4
9

In [6]:
# Definamos una funcion que efectue un saludo personalizado
def saludo(nombre):
    # accion que realiza la funcion
    saludo = "Hola " + nombre + ", bienvenid@ a Python"
    # retorna el resultado
    return saludo

# Pongamos a prueba la funcion
print(saludo("Kathe"))
print(saludo("Pedro"))

Hola Kathe, bienvenid@ a Python
Hola Pedro, bienvenid@ a Python

Veamos la automatización de un proceso sencillo calculando el área de un círculo:

In [7]:
# Definimos las varibles
pi = 3.1416
radio = 5

# Definimos una variable que calcule el area
area = pi * (radio ** 2)

# Redondeamos a dos decimales
area = round(area, 2)

# Definimos un string que contenga el resultado
resultado = "El area del circulo de radio = " + str(radio) + " es: " + str(area) + " uˆ2"
print(resultado)

El area del circulo de radio = 5 es: 78.54 uˆ2

Si quisieramos utilizar, o reutilizar, el código anterior para alguna funcionalidad posterior tendríamos que volver a escribir todo el código de nuevo. Así, en este caso es una muy buena idea convertir el código en una función para definirlo una sola vez y utilizarlo mediante una función la veces que queramos.

In [8]:
# Notemos que lo unico variable en nuestro codigo es el radio,
# por lo que este sera nuestro unico parametro
def calc_area_circulo(radio):
    # Definimos las varibles. 
    pi = 3.1416
    # Definimos una variable que calcule el area
    area = pi * (radio ** 2)
    # Redondeamos a dos decimales
    area = round(area, 2)
    # Definimos un string que contenga el resultado
    resultado = "El area del circulo de radio = " + str(radio) + " es: " + str(area) + " uˆ2"
    return resultado

# Pongamos a prueba la funcion
print(calc_area_circulo(5))
print(calc_area_circulo(10))
print(calc_area_circulo(15))

El area del circulo de radio = 5 es: 78.54 uˆ2
El area del circulo de radio = 10 es: 314.16 uˆ2
El area del circulo de radio = 15 es: 706.86 uˆ2

Para complementar, notemos que la concatenación de ls cadenas de texto como lo hemos estado haciendo:

```
"El area del circulo de radio = " + str(radio) + " es: " + str(area) + " uˆ2"
```

donde convinamos strings con variables. Una alternativa más limpia sería el uso de _f-string_, el cual consiste, justamente, en combinar cadenas de texto y variables en "un solo objeto". Por ejemplo:

In [9]:
nombre = "Luis"

# En vez de escribir
saludo = "Hola " + nombre + ", bienvenid@ a Python"

# Podemos utilizar un f-string
saludo_f = f"Hola {nombre}, bienvenid@ a Python"

print(saludo)
print(saludo_f)

Hola Luis, bienvenid@ a Python
Hola Luis, bienvenid@ a Python

donde dentro del _f-string_, el cual se define mediante ``f""``, podemos escribir strings normales, pero si le queremos adjuntar variables lo hacemos colocando dentro las llaves, esto es: ``f"Cadena normal {variable}"``. Con lo anterior podemos mejorar un poco la función para cálculo de áreas de círculos:

In [10]:
def calc_area_circulo(radio):
    # Definimos las varibles. 
    pi = 3.1416
    # Definimos una variable que calcule el area
    area = pi * (radio ** 2)
    # Redondeamos a dos decimales
    area = round(area, 2)
    # Definimos un string que contenga el resultado
    resultado = f"El area del circulo de radio = {str(radio)} es: {str(area)} uˆ2"
    return resultado

# Pongamos a prueba la funcion
print(calc_area_circulo(5))

El area del circulo de radio = 5 es: 78.54 uˆ2

# Automatización del proyecto

De la clase anterior habías configurado que la fecha se actualizará solo tomando la fecha de hoy con:

In [11]:
dt.datetime.today()

datetime.datetime(2025, 5, 20, 20, 14, 16, 198775)

Pero lo que haremos en la automatización es dejar que la fecha sea el parámetro de la función para que nosotros podamos establecer la que queramos y con ello generar datos en, por ejemplo, todo un mes de ventas. Adicionalmente agregamos otro parámetro para establecer el número de ventas que queremos hacer en la fecha dada, recordemos que lo habíamos configurado en 1000 ventas, pero podemos meterle variabilidad mediante la función y el parámetro.

In [12]:
def generar_df_ventas(fecha, n_ventas):
  # ========================== Parte I ==========================
  # Definicion de las listas
  abcdario = [
    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
    'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
    'U', 'V', 'W', 'X', 'Y', 'Z'
    ]

  papelerias = [
    'Xochimilco', 'Cuemanco', 'Coapa', 'Milpa Alta',
    'CU', 'Zócalo', 'Narvarte', 'Santa Fé', 'Polanco',
    'Centro'
    ]

  lineas = [
      'Cuadernos', 'Libretas', 'Lápices', 'Plumones', 'Borradores', 'Sacapuntas',
      'Laptops', 'Tablets', 'Mochilas', 'Bolsas', 'Cajas', 'Pegamento', 'Tijeras',
      'Monitores', 'Teclados', 'Mouse', 'Audífonos', 'Cables', 'Cargadores', 'Baterías',
      'Pc', 'Uniformes', 'Pinturas', 'Pinceles', 'Papel', 'Cartulinas'
      ]

  # =========================== Parte II ==========================
  # Definimos listas vacias que posteriormente iremos llenando
  # con los datos de cada venta mediante la funcion append()
  # y el bucle for

  fechas = []
  productos = []
  claves = []
  cantidades = []
  precios = []
  totales = []
  sucursales = []

  # ========================= Parte III ==========================
  # Repetimos un bucle for 1000 veces, donde en cada iteracion
  # o cada vuelta, agregamos un nuevo elemento a cada lista
  for i in range(n_ventas):
      # Zona de definicion de variables
      producto = r.choice(lineas)
      clave = r.choice(abcdario) + r.choice(abcdario) + r.choice(abcdario) + '-' + str(r.randint(1, 9)) + str(r.randint(1, 9)) + str(r.randint(1, 9)) 
      cantidad = r.randint(1, 50)
      precio = round(r.randint(1, 10000) * r.random(), 2)
      total = round(precio * cantidad, 2)
      sucursal = r.choice(papelerias)

      # Agregamos los datos a las listas
      fechas.append(fecha)
      productos.append(producto)
      claves.append(clave)
      cantidades.append(cantidad)
      precios.append(precio)
      totales.append(total)
      sucursales.append(sucursal)

  # ========================= Parte IV ==========================
  # Definimos un diccionario donde las claves seran los nombres
  # de las columnas y los valores seran las listas que llenamos
  dict_pre_ventas = {
      "Fecha": fechas,
      "Producto": productos,
      "Clave": claves,
      "Cantidad": cantidades,
      "Precio": precios,
      "Total": totales,
      "Sucursal": sucursales
  }

  # ========================== Parte V ==========================
  # Creamos el dataframe con la funcion de pandas pd.DataFrame()
  df_ventas = pd.DataFrame(dict_pre_ventas)
  
  # Retornamos el dataframe
  return df_ventas

In [13]:
# Pongamos a prueba la funcion
df = generar_df_ventas("2025-01-01", 100)
df

         Fecha    Producto    Clave  Cantidad   Precio      Total    Sucursal
0   2025-01-01   Uniformes  ROC-256        25  2293.58   57339.50       Coapa
1   2025-01-01     Lápices  OBT-979        38  1206.55   45848.90     Polanco
2   2025-01-01   Pegamento  XXS-872         8  2241.48   17931.84          CU
3   2025-01-01   Pegamento  RVN-821         3   289.61     868.83      Centro
4   2025-01-01      Bolsas  GXI-184         4  7108.86   28435.44    Santa Fé
..         ...         ...      ...       ...      ...        ...         ...
95  2025-01-01     Tijeras  JBG-666        41   755.93   30993.13      Centro
96  2025-01-01    Pinturas  STF-497        49  2822.47  138301.03      Centro
97  2025-01-01  Sacapuntas  BWO-816        16   171.35    2741.60  Xochimilco
98  2025-01-01    Teclados  PCE-774        33   662.49   21862.17       Coapa
99  2025-01-01     Tablets  ICU-261        16   518.06    8288.96    Narvarte

[100 rows x 7 columns]

Con lo hecho anteriormente tenemos toda la librertad de generar info de ventas de cualquier día o cualquier rango de días.

Ahora, el objetivo de la clase será subir el dataframe anterior a una base de datos en SQL, de donde:

* ``SQL`` (Structured Query Language) es el lenguaje estándar para consultar y manipular bases de datos relacionales. Permite interactuar con bases de datos para leer, insertar, actualizar y eliminar datos. Es un medio bastante útil para manejar y almacenar información. Para el contexto del proyecto nos servirá para almacenar la información de todas las ventas en nuestras papelerías.

**¿Para qué se usa?**

* Extraer reportes
* Limpiar y transformar datos
* Relacionar información entre tablas
* Automatizar consultas en análisis de datos

Esencialmente, ``SQL`` es la herramienta clave para trabajar con bases de datos en análisis de datos y desarrollo de software.

### Parte V: Introducción a SQL

Lo que haremos entonces es utilizar ``SQL`` dentro de ``Python`` para lo cual nos valdremos de la librería ``SQLite3``:

In [14]:
# import sqlite3 as sql

# Luego entonces, creamos una base de datos o una conexion con
# el siguiente comando
conn = sql.connect("ventas.db")

# Cerramos la conexion
conn.close()

Una vez creada (o conectada) la abse de datos, lo que sigue es crear una tabla. Antes de ello veamos algunos tipos de datos en ``SQL`` y su equivalente en ``Python``:

``SQL`` | ``Python``
---|---
TEXT | str
INTEGER | int
REAL |  float

Y para definir una tabla utilizamos la estructura:

```
CREATE TABLE 
    NOMBRE_TABLA(
        NOMBRE_COLUMNA_1 TIPO_DE_DATO_ASOCIADO_1,
        NOMBRE_COLUMNA_2 TIPO_DE_DATO_ASOCIADO_2,
        NOMBRE_COLUMNA_3 TIPO_DE_DATO_ASOCIADO_3,
        .
        .
        .
    )
```

Notemos que en ``SQL`` se acostumbra a escribir los comando con mayúsculas. De tal suerte, replicaremos la tabla de Pandas en una tabla ``SQL``:

In [ ]:
# 1. Veamos el dataframe, pero solo veamos la primera fila:
#    para ver la primer fila, utilizamos el comando head()
df.head(1)

# si quisieramos ver mas filas usamos .head(n), donde n es el numero de filas que queremos ver

        Fecha   Producto    Clave  Cantidad   Precio    Total Sucursal
0  2025-01-01  Uniformes  ROC-256        25  2293.58  57339.5    Coapa

In [ ]:
# 2. Podemos ver que tiene 7 columnas:
#    - Fecha ---> string
#    - Producto ---> string
#    - Clave ---> string
#    - Cantidad ---> int
#    - Precio ---> float
#    - Total ---> float
#    - Sucursal ---> string

# De tal suerte que el codigo para crear la tabla en SQL seria:
# CREATE TABLE ventas (
#   Fecha TEXT,
#   Producto TEXT,
#   Clave TEXT,
#   Cantidad INTEGER,
#   Precio REAL,
#   Total REAL,
#   Sucursal TEXT
# );

Es preciso mencionar que necesitaremos, no solo el código de  ``SQL`` para crear la tabla pues, dado que lo estamos haciendo desde ``Python`` deberemos realizar una configuración un poco más elaborada:

In [ ]:
# 1. Nos conectamos a la base de datos
# conn = sql.connect("ventas.db")
# 2. Definimos el codigo SQL mediante un string multilinea
# sql_create_ventas = """
# CREATE TABLE ventas (
#   Fecha TEXT,
#   Producto TEXT,
#   Clave TEXT,
#   Cantidad INTEGER,
#   Precio REAL,
#   Total REAL,
#   Sucursal TEXT
# );
# """

# 3. Creamos el puente entre Python y SQL (llamado cursor)
# cursor = conn.cursor()

# 4. Ejecutamos el comando SQL
# cursor.execute(sql_create_ventas)

# 5. Guardamos los cambios
# conn.commit()

# 6. Cerramos la conexion
# conn.close()

El código anterior sería el camino más ilustrativo con el cual podemos crear una tabla en SQL, no obstante, como hemos dicho antes Pandas es una librería bastante completa para el manejo de datos y lo demuestra con la siguiente función:

In [18]:
# Dado el dataframe df_ventas, creamos una tabla en la base de datos
# ventas.db con el siguiente comando

# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Creamos la tabla ventas en la base de datos e insertamos la info
df.to_sql("ventas", conn, if_exists="replace", index=False)

# 3. Guardamos los cambios
conn.commit()

# 4. Cerramos la conexion
conn.close()

Lo que hicimos fue montar el dataframe ``df`` directamente a la base de datos; la función anterior crea la tabla y realiza las inserciones correspondientes. Ahora, una vez que ya tenemos la información en la base de datos, lo que haremos será ver o consultar la información, para lo cual usaremos:

```
SELECT * FROM NOMBRE_TABLA
```

que es un comando de ``SQL`` que nos permite ver todos los elementos en nuestra tabla ``NOMBRE_TABLA``:

In [19]:
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Definimos la sentencia SQL
sql_select_ventas = """
SELECT * FROM ventas
"""

# 3. Usamos una funcion de pandas para leer la tabla
df_ventas = pd.read_sql_query(sql_select_ventas, conn)

# 4. Cerramos la conexion
conn.close()

# 5. Mostramos el dataframe
df_ventas.head(5)

        Fecha   Producto    Clave  Cantidad   Precio     Total  Sucursal
0  2025-01-01  Uniformes  ROC-256        25  2293.58  57339.50     Coapa
1  2025-01-01    Lápices  OBT-979        38  1206.55  45848.90   Polanco
2  2025-01-01  Pegamento  XXS-872         8  2241.48  17931.84        CU
3  2025-01-01  Pegamento  RVN-821         3   289.61    868.83    Centro
4  2025-01-01     Bolsas  GXI-184         4  7108.86  28435.44  Santa Fé

Con lo anterior acabamos de probar que la info fue subida a la tabla de manera correcta.

Ahora bien, si quisieramos realizar una inserción manual de una venta (es decir, de una fila), usaremos el comando:

```
INSERT INTO 
    NOMBRE_TABLA 
VALUES(
    VALOR_ASOCIADO_COLUMNA_1,
    VALOR_ASOCIADO_COLUMNA_2,
    VALOR_ASOCIADO_COLUMNA_3,
    .
    .
    .
)
```

Por consiguiente:

In [20]:
# Agregemos manualmente un registro a la tabla
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")
# 2. Definimos la sentencia SQL
sql_insert_ventas = """
INSERT INTO 
    ventas 
VALUES(
    '2025-01-01', 
    'Cuadernos',
    'AAA-123', 
    10, 
    50.00,
    500.00,
    'Xochimilco'
)
"""
# 3. Creamos el cursor
cursor = conn.cursor()
# 4. Ejecutamos la sentencia SQL
cursor.execute(sql_insert_ventas)
# 5. Guardamos los cambios
conn.commit()
# 6. Cerramos la conexion
conn.close()

Comprobamos que el registro se haya insertado de manera correcta:

In [21]:
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Definimos la sentencia SQL
sql_select_ventas = """
SELECT * FROM ventas
"""

# 3. Usamos una funcion de pandas para leer la tabla
df_ventas = pd.read_sql_query(sql_select_ventas, conn)

# 4. Cerramos la conexion
conn.close()

# 5. Mostramos el dataframe
df_ventas

          Fecha    Producto    Clave  Cantidad   Precio      Total    Sucursal
0    2025-01-01   Uniformes  ROC-256        25  2293.58   57339.50       Coapa
1    2025-01-01     Lápices  OBT-979        38  1206.55   45848.90     Polanco
2    2025-01-01   Pegamento  XXS-872         8  2241.48   17931.84          CU
3    2025-01-01   Pegamento  RVN-821         3   289.61     868.83      Centro
4    2025-01-01      Bolsas  GXI-184         4  7108.86   28435.44    Santa Fé
..          ...         ...      ...       ...      ...        ...         ...
96   2025-01-01    Pinturas  STF-497        49  2822.47  138301.03      Centro
97   2025-01-01  Sacapuntas  BWO-816        16   171.35    2741.60  Xochimilco
98   2025-01-01    Teclados  PCE-774        33   662.49   21862.17       Coapa
99   2025-01-01     Tablets  ICU-261        16   518.06    8288.96    Narvarte
100  2025-01-01   Cuadernos  AAA-123        10    50.00     500.00  Xochimilco

[101 rows x 7 columns]

vemos que se ha subido correctamente.

In [22]:
# Simulamos las ventas del dia siguiente
df_02_01_2025 = generar_df_ventas("2025-01-02", 10)

# subimos las ventas a la tabla con la funcion de pandas to_sql()
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Subimos el dataframe a la base de datos
df_02_01_2025.to_sql("ventas", conn, if_exists="append", index=False)

# 3. Guardamos los cambios
conn.commit()

# 4. Cerramos la conexion
conn.close()

In [23]:
# comprobamos
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Definimos la sentencia SQL
sql_select_ventas = """
SELECT * FROM ventas
"""

# 3. Usamos una funcion de pandas para leer la tabla
df_ventas = pd.read_sql_query(sql_select_ventas, conn)

# 4. Cerramos la conexion
conn.close()

# 5. Mostramos el dataframe
df_ventas

          Fecha   Producto    Clave  Cantidad   Precio      Total    Sucursal
0    2025-01-01  Uniformes  ROC-256        25  2293.58   57339.50       Coapa
1    2025-01-01    Lápices  OBT-979        38  1206.55   45848.90     Polanco
2    2025-01-01  Pegamento  XXS-872         8  2241.48   17931.84          CU
3    2025-01-01  Pegamento  RVN-821         3   289.61     868.83      Centro
4    2025-01-01     Bolsas  GXI-184         4  7108.86   28435.44    Santa Fé
..          ...        ...      ...       ...      ...        ...         ...
106  2025-01-02  Uniformes  FJN-712        48  1155.74   55475.52  Xochimilco
107  2025-01-02    Tablets  CSL-854        47   811.76   38152.72      Zócalo
108  2025-01-02   Plumones  CBH-412        48   374.84   17992.32     Polanco
109  2025-01-02         Pc  EER-666        42  3919.92  164636.64     Polanco
110  2025-01-02  Audífonos  MZQ-388        21  3756.07   78877.47  Xochimilco

[111 rows x 7 columns]

### Parte VI: Resumen y consideraciones

1. Si quieres insertar una fila, el acordeón es:

```
# Agregemos manualmente un registro a la tabla
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")
# 2. Definimos la sentencia SQL
sql_insert_ventas = """
INSERT INTO 
    ventas 
VALUES(
    '2025-01-01', 
    'Cuadernos',
    'AAA-123', 
    10, 
    50.00,
    500.00,
    'Xochimilco'
)
"""
# 3. Creamos el cursor
cursor = conn.cursor()
# 4. Ejecutamos la sentencia SQL
cursor.execute(sql_insert_ventas)
# 5. Guardamos los cambios
conn.commit()
# 6. Cerramos la conexion
conn.close()
```

donde se necesitaron 6 componentes: Conectarse a la base, definir comando SQL, creamos el cursor, ejecutamos la sentencia por medio del cursor, guardamos cambios y finalmente cerramos la conexión.

2. Si quieres hacer una consulta o agregar todo un dataframe a la base de datos, nos ahorraremos algunos pasos del punto anterior, especificamente no tendríamos que definir ni ejecutar un cursor.

* Para el caso de crear una tabla con base en un dataframe usamos la función de pandas ``.to_sql("ventas", conn, if_exists="replace", index=False)``, donde colocamos primero el nombre de la tabla SQL, luego la conexión a la base, después si queremos reemplazarla (o crearla) y finalmente si queremos ignorar el índice por defecto de pandas. Si Configuramos ``if_exists="append"`` en la función anterior, lo que haremos será agregar el dataframe en cuestión a los datos ya existentes de la tabla. La estructura es:

```
# subimos las ventas a la tabla con la funcion de pandas to_sql()
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Subimos el dataframe a la base de datos
#                                          "replace": crea una tabla nueva
#                                          "append":  agrega la tabla a la 
#                                                     info ya existente
df_saubir.to_sql("ventas", conn, if_exists="append", index=False)

# 3. Guardamos los cambios
conn.commit()

# 4. Cerramos la conexion
conn.close()
```

* Consultas: Hacen alusión a simplemente ver la info sin intentar modificar la estructura, es decir, solo consultamos la información dependiendo el fin que queramos. La estructura básica para definir consultas es:

```
# comprobamos
# 1. Nos conectamos a la base de datos
conn = sql.connect("ventas.db")

# 2. Definimos la sentencia SQL
sql_select_ventas = """
SELECT * FROM ventas
"""

# 3. Usamos una funcion de pandas para leer la tabla
df_ventas = pd.read_sql_query(sql_select_ventas, conn)

# 4. Cerramos la conexion
conn.close()

# 5. Mostramos el dataframe
df_ventas
```