Definimos un archivo .py para almacenar nuestra propia librería, de donde ahí mismo subiremos la clase de nuestro proyecto. . . ¿qué hace el proyecto?

1. Generar ventas de las papelerías en un día dado ---> dataframe
2. Queremos subir ese df a nuestra base de datos ---> inicializar_bbdd, subir_df

* inicializar_bbdd: se crea en automatico la base y la tabla en SQL, y ademas se sube por primera vez
el dataframe generado
* subir_df: subir el dataframe generado.

¿Qué estamos tratando de simular?

1. Cómo montar un flujo de datos: insumo ---> bbdd ---> análisis ---> Power BI
2. Automatizar procesos: librería
3. Nosotros como no nos dan info diaria o real, simulamos ese primer paso creando los datos de manera aleatoria

In [ ]:
# 1. Definir la base de datos y la tabla
from pym import tools

################################################################
# Creamos un primer dataframe con la info del 1 de enero
df_1 = tools.generar_df_ventas('2025-01-01', 1000)
# Inicializamos nuestra infrastructura de base de datos 
# subiendo la info del primero de Enero
tools.inicializar_bbdd(df_1)
################################################################

# Subimos la info del 2 de enero
tools.subir_df(tools.generar_df_ventas('2025-01-02', 1000))

In [5]:
tools.subir_df(tools.generar_df_ventas('2025-01-03', 1000))

Dataframe subido correctamente a la base de datos.

In [6]:
tools.subir_df(tools.generar_df_ventas('2025-01-04', 1000))

Dataframe subido correctamente a la base de datos.

In [5]:
import datetime as dt

# p: string --> objeto fecha
# f: objeto fecha --> string
fecha_dt = dt.datetime.strptime("2025-05-27", '%Y-%m-%d')
fecha_dt

datetime.datetime(2025, 5, 27, 0, 0)

In [6]:
dt.datetime.strftime(fecha_dt, '%Y-%m-%d')

'2025-05-27'

In [ ]:
import pandas as pd
import datetime as dt

# "2025-05-07" string 
# datetime/timestamp --> Objeto Fecha

# Generamos un rango de fechas y lo convertimos a lista
lista_fechas = pd.date_range(start='2025-01-05', end='2025-01-31').to_list()

# esa lista de objetos fecha, los convertimos a strings via un dataframe
df_fechas = pd.DataFrame(lista_fechas)

# .astytpe() te convierte una columna de pandas al tipo de dato que le indiques
# str() convierte cosas a strings
# list() convierte cosas a listas
lista_fechas_strings = list(df_fechas[0].astype(str))

lista_fechas_strings

['2025-01-05',
 '2025-01-06',
 '2025-01-07',
 '2025-01-08',
 '2025-01-09',
 '2025-01-10',
 '2025-01-11',
 '2025-01-12',
 '2025-01-13',
 '2025-01-14',
 '2025-01-15',
 '2025-01-16',
 '2025-01-17',
 '2025-01-18',
 '2025-01-19',
 '2025-01-20',
 '2025-01-21',
 '2025-01-22',
 '2025-01-23',
 '2025-01-24',
 '2025-01-25',
 '2025-01-26',
 '2025-01-27',
 '2025-01-28',
 '2025-01-29',
 '2025-01-30',
 '2025-01-31']

In [18]:
for fecha in lista_fechas_strings:
    tools.subir_df(tools.generar_df_ventas(fecha, 1000))

Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.
Dataframe subido correctamente a la base de datos.

In [19]:
tools.consultar_bbdd("SELECT * FROM ventas")

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal
0,2025-01-01,Pegamento,ONH-333,21,2654.66,55747.86,Polanco
1,2025-01-01,Pegamento,SFB-293,27,327.31,8837.37,Centro
2,2025-01-01,Cargadores,ZCY-891,21,724.51,15214.71,Zócalo
3,2025-01-01,Mouse,ZLJ-864,41,168.97,6927.77,Narvarte
4,2025-01-01,Bolsas,RJZ-779,15,531.91,7978.65,Santa Fé
...,...,...,...,...,...,...,...
30995,2025-01-31,Bolsas,QIX-586,38,2995.45,113827.10,CU
30996,2025-01-31,Borradores,CZI-972,14,347.89,4870.46,Narvarte
30997,2025-01-31,Plumones,FAG-854,25,1902.39,47559.75,Narvarte
30998,2025-01-31,Lápices,LCD-274,48,3899.11,187157.28,Zócalo
30999,2025-01-31,Bolsas,LXT-223,17,4224.07,71809.19,Xochimilco

In [ ]:
# Definimos una funcion que sume dos numeros
def sumar()

2